* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
}

.section__padding {
  padding: 2rem 4rem;
}

.users__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.users__container .users__container_modal-details {
  background-color: #222;
  position: absolute;

  padding: 3rem 5rem;
  box-shadow: inset 0 0 14px rgba(255, 255, 255, 0.5);
}

.users__container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 4rem;
}

.users__container-header h1 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
}

.users__container-header p {
  color: #fff;
  font-size: 16px;
}

.users__container-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.users__container-body h2 {
  color: var(--foreground);
  font-size: 14px;  
}

.users__container-body_users-info {
  margin-top: 3rem;
  border-radius: 10px;
  width: 60%;
}

.users__container-body_users-info ul {
  width: 100%;
  list-style-type: none;

  background-color: var(--color-secondary);
  border-radius: 5px;

  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5);

  padding: 1rem 0;
}

.users__container-body_users-info ul li {
  cursor: pointer;
  transition: background-color 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 1rem 3rem;
}

.users__container-body_users-info ul li:hover {
  background-color: var(--color-primary);
}

.users__container-body_users-info ul li h4 {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}

.users__container-body_users-info ul li p {
  font-size: 11px;
  font-weight: 800;
  color: var(--foreground);

  padding-left: 1rem;
  transition: color 0.3s;
}

.users__container-body_users-info ul li:hover p {
  color: #fff;
}